MissHinata/config.py
MissHinata/*.session
MissHinata/*.session-journal
MissHinata/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
MissHinata/modules/helper_funcs/temp.txt
MissHinata/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
hinata.session-journal
updates.txt
*.exe
